@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --blue: hsl(212, 86%, 64%);
  --orange: hsl(34, 97%, 64%);
  --main-bg: hsl(0, 0%, 98%);
  --head-color: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
}
body {
  margin: 0;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  background-color: var(--main-bg);
}
p {
  line-height: 1.6;
  color: var(--grayish-blue);
}
h3 {
  color: var(--head-color);
}
.container {
  padding: 60px 40px 0;
}

.head {
  text-align: center;
}
.head > h3 {
  margin: 0;
  font-size: 24px;
}
.head > h3:first-child {
  font-weight: 200;
}
@media (min-width: 575px) {
  .head > h3 {
    font-size: 30px;
  }
}
.content {
  width: 1200px;
  max-width: 100%;
  margin: 65px auto;

  display: flex;
  align-items: center;
  justify-content: center;
}
.content .cards {
  display: flex;
  align-items: center;
  gap: 30px;
}
@media (max-width: 575px) {
  .content .cards {
    flex-direction: column;
  }
}
.content .cards > .card-holder {
  flex: 1;
  display: grid;
  gap: 30px;
}
.content .cards > .card-holder .card {
  padding: 30px;
  border-radius: 10px;
  background-color: #fff;
  border-top: 4px solid red;
  box-shadow: 2px 8px 10px var(--grayish-blue);
}
.content .cards > .card-holder .card > h3 {
  font-size: 22px;
  margin: 0 0 15px;
}
@media (max-width: 575px) {
  .content .cards > .card-holder .card > p {
    font-size: 13px;
  }
}
.content .cards > .card-holder .card > img {
  display: block;
  margin-top: 30px;
  margin-left: auto;
}

/* Colors */
.content .cards > .card-holder .card.super {
  border-top-color: var(--cyan);
}
.content .cards > .card-holder .card.team {
  border-top-color: var(--red);
}
.content .cards > .card-holder .card.karma {
  border-top-color: var(--orange);
}
.content .cards > .card-holder .card.calc {
  border-top-color: var(--blue);
}
